<!DOCTYPE html>
<html>
<head>
    <title>Uhhh put it in the pizza</title>
    <link href="../public/css/theme.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- Start of Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20076827-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <meta charset="utf-8" />
</head>
<body>
    <!-- Play audio -->
    <script type="text/javascript">
        var channel_max = 10;								// number of channels
        audiochannels = new Array();
        for (a=0;a<channel_max;a++) {						// prepare the channels
            audiochannels[a] = new Array();
            audiochannels[a]['channel'] = new Audio();		// create a new audio object
            audiochannels[a]['finished'] = -1;				// expected end time for this channel
        }
        function play_multi_sound(s) {
            for (a=0;a<audiochannels.length;a++) {
                thistime = new Date();
                if (audiochannels[a]['finished'] < thistime.getTime()) {			// is this channel finished?
                    audiochannels[a]['finished'] = thistime.getTime() + document.getElementById(s).duration*1000;
                    audiochannels[a]['channel'].src = document.getElementById(s).src;
                    audiochannels[a]['channel'].load();
                    audiochannels[a]['channel'].play();
                    break;
                }
            }
        }
    </script>

    <!-- Start of StatCounter Code -->
    <script type="text/javascript">
        var sc_project=6441481;
        var sc_invisible=1;
        var sc_security="69a7f2bf";
    </script>

    <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js">
    </script>
    <noscript>
        <div class="statcounter">
            <a title="tumblr page counter" href="http://statcounter.com/tumblr/" target="_blank">
                <img class="statcounter" src="http://c.statcounter.com/6441481/0/69a7f2bf/1/"
                     alt="tumblr page counter" >

                     </a>
        </div>
    </noscript>
    <!-- End of StatCounter Code -->

    <header id="page_header"><h1>put it in the pizza.</h1></header>

    <article id="page_content">
        <audio id="gimme_pizza" preload="auto">
            <source src="../public/audio/gimme_pizza.mp3" type="audio/mpeg" />
            <source src="../public/audio/gimme_pizza.ogg" type="audio/ogg" />
        </audio>
        <audio id="hey">
            <source src="../public/audio/hey_are_you_ready_to_play.ogg" type="audio/mpeg" />
        </audio>
        <audio id="p_i_z_z_a" src="../public/audio/p-i-z-z-a.ogg"></audio>
        <audio id="um" src="../public/audio/um_did_i_happen_to_say.mp3"></audio>
        <audio id="whipped_cream" src="../public/audio/whipped_cream_pourin_like_waterfalls.mp3"></audio>

        <table>
            <tr>
                <td>
                    <a href="javascript:play_multi_sound('gimme_pizza');">gimme pizza<br />
                        <img src="../public/images/thumbs/gimme_pizza.jpg"></a>
                </td>
                <td>
                    <a href="javascript:play_multi_sound('hey');">hey<br />
                        <img src="../public/images/thumbs/are_you_ready_to_play.jpg"></a>
                </td>
                <td>
                    <a href="javascript:play_multi_sound('p_i_z_z_a');">p-i-z-z-a<br />
                        <img src="../public/images/full_screen/Picture%208.png" width="100"></a>
                </td>
                <td>
                    <a href="javascript:play_multi_sound('um');">did i happen to say?<br />
                        <img src="../public/images/full_screen/Picture%205.png" width="100"></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="javascript:play_multi_sound('whipped_cream');">whipped cream<br />
                        <img src="../public/images/thumbs/whipped_cream.jpg"></a>
                </td>
            </tr>
        </table>
    </article>

    <footer id="page_footer">inspired by <a href="http://www.youtube.com/watch?v=wusGIl3v044">this.</a></footer>
</body>
</html>
