<!DOCTYPE html>
<html>
    <head>
      <title>Uhhh put it in the pizza</title>
      <link href="css/theme.css" rel="stylesheet" type="text/css" media="screen" />

      <!-- Start of Google Analytics -->
      <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-20076827-1']);
          _gaq.push(['_trackPageview']);

          (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      </script>

      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="description" content="HTML5 Soundboard of Olsen Twins' Gimme Pizza Slow video from youtube." />
      <meta name="keywords" content="gimme,pizza,slow,youtube,olsen,twins,soundboard,html5,whipped,cream" />

      <link rel="icon" type="image/jpeg" href="favicon.jpg" />
    </head>

    <body>
        <!-- Start of StatCounter Code -->
        <script type="text/javascript">
            var sc_project=6441481;
            var sc_invisible=1;
            var sc_security="69a7f2bf";
        </script>

        <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js">
        </script>

        <noscript>
          <div class="statcounter">
            <a title="tumblr page counter" href="http://statcounter.com/tumblr/" target="_blank">
              <img class="statcounter" src="http://c.statcounter.com/6441481/0/69a7f2bf/1/"
                   alt="tumblr page counter" >

            </a>
          </div>
        </noscript>
        <!-- End of StatCounter Code -->

        <%= yield %>

    </body>
</html>